.place-button {
    width: 355px;
    height: 48px;
    background: #0278FE;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .place-button:hover {
    background-color: #0063D2;
  }

  @media  screen and (min-width: 320px) {
    .place-button{
      width: 288px;
      height: 48px;
      margin-top: 50px;
    }
  }