.places__article{
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2,1fr );
    gap: 20px 30px;
}

@media screen and (max-width: 500px) {
    .places__article {
        display: flex;
        flex-direction: column;
    }
}